#contenedor {
	width: 30%;
	margin:0 auto;
}

h2{
	font-family: Helvetica, Verdana, Arial;
	color: #606060;
}

body{
	text-align: center;
}

#demo{
	width: 110px;
	height: 110px;
	margin: 20px 0 20px 0;
	background-color: #720000;
	border: solid 8px #B60000;
	border-radius: 100%;
	color:white;
	font-size: 15px;
}

input{
	width: 200px;
	height: 20px;
	text-align: center;
	margin-left: 20px;
}